# Build directories
cmake-build-*/
build/
build_*/
out/

# IDE
.idea/
.vscode/
*.xcodeproj/
*.xcworkspace/

# macOS
.DS_Store

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
Testing/
cmake_*
CPack*
CMakeDoxy*

# Binaries
engine
*.cbp
engine.cbp*
bin/*
lib/*

# Assets (large/tutorial)
*.zip
*.log
*.blend1
*.mtl
*.tga
src/Resources/Models/Tutorial/*
src/Resources/Tutorial/Backpack/*
src/Resources/Tutorial/*

# Git
.gitmessage
